  <div class="row">
    <div class="col-md">
      <h3>List an Item</h3>
    </div>
  </div>
  <%= form_with model: @item, local: true do |f| %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :name %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :description %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :price %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :price, in: 0.01..1000.00, step: 0.01 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :image %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :image %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :deliverable %>
      </div>
      <div class="col-md-2">
        <%= f.check_box :deliverable, {}, 'true', 'false' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Create new item" %>
      </div>
    </div>
  <% end %>
