
<h2 class="itemname"><%= "Item details for #{@item.name}" %></h2>

<h4>Description</h4>
<div class="item-desc">
  <p><%= @item.description %> </p>
</div>
<h4>Status</h4>
<div class="item-status">
  <p><%= @item.status %></p>
</div>
<h4>Deliverable</h4>
<div class="item-deliverable">
  <% if @item.listed %> 
    <p><%= "yes"%></p>
  <% else %>
    <p><%= "no" %></p>
  <% end %>
</div>
<h4>Price</h4>
<div class="item-price">
  <p><%= number_to_currency(@item.price) %></p>
</div>

<h4>Sold by: </h4>
<p> <%= @seller %> </p>

<div>
  <%= link_to("Back to item list", items_path, :class => "btn btn-primary") %>
</div>

