  <div class="row">
    <div class="col-md">
      <h4 class="itemname">
        <%= "Item details for #{@item.name}" %>
      </h4>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="items_header">
        <th>Description</th>
        <th>Status</th>
        <th>Deliverable</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="item">
          <td class="item-desc">
            <%= @item.description %>
          </td>
          <td class="item-status">
            <%= @item.status %>
          </td>
          <td class="item-deliverable">
            <% if @item.listed %> 
              <%= "yes"%>
            <% else %>
              <%= "no" %>
            <% end %>
          </td>
          <td class="item-price">
            <%= number_to_currency(@item.price) %>
          </td>
        </tr>
    </tbody>
  </table>
  <%= link_to("Back to product list", items_path, :class => "btn btn-primary") %>

