<h1> 
<% if @user.name && @user.name!="" %>
<%= @user[:name] + "'s Profile" %> </h1>
<% else %>
<%= @user[:email] + "'s Profile" %> </h1>
<% end %>
<div> <%= "Email: " + @user[:email] %> </div>
<% if @user.payment == nil %>
  <p>No preferred payment method listed</p>
<% else %>
<div> <%= "Preferred payment method: " + @user[:payment] %> </div>
<%end %>


<%= link_to("Back to item list", items_path, :class => "btn btn-primary") %>

