

<div>
      <% if user_signed_in? %>
      <p>
      Logged in as <%= current_user.name %>.
      <%= link_to 'Edit profile', edit_user_registration_path%> |
      <%= link_to "Log out", destroy_user_session_path, method: :delete%>
      </p>
    <% else %>
      <p>
      <%= link_to "Sign up", new_user_registration_path%> |
      <%= link_to "Login", new_user_session_path%>
      </p>
    <% end %>
</div>

<h1> <%= @user[:name] + "'s Profile" %> </h1>


<div> <%= "Email: " + @user[:email] %> </div>
<div> <%= "Email: " + @user[:email] %> </div>
<% if @user.payment == nil %>
  <p>no payment listed</p>
<% else %>
<div> <%= "Payment: " + @user[:payment] %> </div>
<%end %>


<%= link_to("Back to item list", items_path, :class => "btn btn-primary") %>

