

  <div class="center jumbotron">
    <h1>Welcome to Colgate Marketplace! </h1>
  </div>

  
  <%= form_tag(search_item_path, :method => "get") do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
  </div>  
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <h3>Items</h3>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="items_header">
        <th>
          <%= link_to('Name', items_path(:order => 'name')) %>
        </th>
        <th>Description</th>
        <th>
          <%= link_to('Status', items_path(:order => 'status')) %>
        </th>
        <th>
          <%= link_to('Deliverable', items_path(:order => 'deliverable')) %>
        </th>
        <th>
          <%= link_to('Price', items_path(:order => 'price')) %>
        </th>
        
        
      </tr>
    </thead>
    <tbody>
      <% @items.each do |p| %>
        <% if p.listed %>
          <tr class="item">
            <td class="itemname">
              <%= link_to "#{p.name}", item_path(p) %>
            </td>
            <td class="item-desc">
              <%= p.description %>
            </td>
            <td class="item-status">
              <%= p.status %>
            </td>
            <td class="item-deliverable">
              <% if p.deliverable %> 
                <%= "yes"%>
              <% else %>
                <%= "no" %>
              <% end %>
            </td>
            <td class="item-price">
              <%= number_to_currency(p.price) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-md">
      <% if user_signed_in? %>
        <%= link_to "List an item", new_item_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  
