<body>
    <div class="lightbox-blanket">
        <div class="pop-up-container">
           <div class="pop-up-container-vertical">
                <div class="pop-up-wrapper">
                   <div class="go-back">

                    <%= link_to("Back", items_path) %>

                    </div>
                    <div class="itemlist">
                        <div class="itemlist-item-wrapper">
                            <div class="product-details">
                                <div class="product-left">
                                    <div class="product-info">

                                        <div class="product-title">
                                           <%= "#{@item.name}" %>
                                        </div>
                                        <div class="product-price">
                                            <p><%= number_to_currency(@item.price) %></p>        
                                        </div>
                                    </div>


                                    <div class="product-description">
                                        <%= @item.description %>
                                    </div>
                                    <div class="product-available">
                                        <%= @item.status %> 
                                    </div>

                                   <div class="product-image">
                                         <% if @item.image.attached?%> 
                                         <%= image_tag(@item.image, :width => 300)%>
                                         <% else %>
                                         <%= image_tag("image_placeholder.jpg",size: '300')%> 
                                         <% end %>
                                   </div>
                                </div>


       

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
</body>