<body>
 <div class="random-background">
    <div class="itemlist">
      <div class="itemlist-item-wrapper">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title">
                <%= "#{@item.name}" %>
              </div>
              <div class="product-price">
                <p><%= number_to_currency(@item.price) %></p>        
              </div>
              <div class="product-available">
                <%= @item.status %> 
              </div>
              <div class="product-description">
                <%= @item.description %>
              </div>
              <div class="item-image">
                  <% if @item.image.attached?%> 
                  <%= image_tag(@item.image)%> 
                  <% else %>
                  <%= image_tag("#{@item.name}.jpg",size: '300')%> 
                  <% end %>
              </div>

            </div>

          </div>
        </div>
      </div>
     
    </div>
  </div>
</body>