<h2 class="itemname"><%= "Item details for #{@item.name}" %></h2>

<h4>Description</h4>
<div class="item-desc">
  <p><%= @item.description %> </p>
</div>
<h4>Status</h4>
<div class="item-status">
  <p><%= @item.status %></p>
</div>
<h4>Image</h4>
<div class="item-image">
   <% if @item.image.attached?%> 
   <%= image_tag(@item.image)%> 
   <% else %>
   <%= image_tag('image_placeholder.jpg',size: '300')%> 
   <% end %>
</div>
<h4>Deliverable</h4>
<div class="item-deliverable">
  <% if @item.listed %> 
    <p><%= "yes"%></p>
  <% else %>
    <p><%= "no" %></p>
  <% end %>
</div>
<h4>Price</h4>
<div class="item-price">
  <p><%= number_to_currency(@item.price) %></p>
</div>

<h4>Sold by: </h4>
<p> <%= link_to(@seller , user_path(:userID => @sellerID)) %> </p>
<%= @item %>
<% params[:id] = @item.id %>
<p> <%= link_to("contact seller" ,:controller => "items", :action => "send_interest_email", :id => @item.id) %> </p>

<div>
  <%= link_to("Back to item list", items_path, :class => "btn btn-primary") %>
</div>