<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if !user_signed_in? %>
      <%= link_to "Sign in", new_user_session_path %>
    <% else %>
      <p>You are logged in as <%= current_user.name %>.</p>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete%>
    <% end %>
    <%= yield %>
    
  </body>
</html>
