<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Marketplace App", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <a href="/static_pages/about">About </a>
             <%= link_to("Home", items_path) %>
             <div>
               <% if user_signed_in? %>
                 <p>
                   <% if current_user.name == nil || current_user.name =="" %>
                     Logged in as <%= current_user.email %>. |
                   <%else%>
                     Logged in as <%= current_user.name %>. |
                   <%end%>
                 <%= link_to 'Edit profile', edit_user_path(current_user.id)%> |
                 <%= link_to "Log out", destroy_user_session_path, method: :delete%>
                 </p>
               <% else %>
                 <p>
                 You are not logged in. | 
                 <%= link_to "Log in with Google SSO", user_google_oauth2_omniauth_authorize_path, :method => :post %>
                 </p>
               <% end %>
             </div>
           </ul>
         </nav>
       </div>
</header>